@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500;700;900&display=swap");

/* font-family: 'Lora', serif; */
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Roboto', sans-serif; */

:root {
  --theme-light: #e25c40;
  --theme-dark: #a22922;
}

@font-face {
  font-family: FoxTail;
  src: url("../font/TheFoxTailRegular-KxX7.otf");
}
/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* styles */

body {
  font-family: "Roboto", sans-serif;
}

/* main page */
.main-header {
  width: 100%;
  background: linear-gradient(to bottom, #791d0f, #e5630b);
  min-height: 100vh;
  position: relative;
}

.main-header-nav {
  width: 100%;
  background-color: var(--theme-dark);
  border-radius: 10px;
  box-shadow: 0 0 10px #22222255;
  position: fixed;
  top: 0;
  z-index: 10;
}

.main-header-nav div {
  width: 100%;
  color: #222;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-header-nav a {
  background-color: #fefefe;
  text-align: center;
  color: var(--theme-dark);
  font-weight: 500;
  padding: 0.8rem 0;

  width: 100%;
  height: 100%;
  display: block;
}

.main-header-nav a:hover,
.main-header-nav a:focus {
  background-color: #ffd3d1;
}

.main-header-nav a.active {
  background-color: #752e2b;
  color: #fefefe;
  border-bottom: 2px solid #fefefe;
}

.main-header-nav a:not(:last-child):not(.active) {
  border-right: 2px solid var(--theme-dark);
}

.main-header-header {
  color: #fefefe;
  padding-top: 3rem;
  padding: 3rem 1rem;

  display: grid;
  grid-template-rows: auto auto 1fr;
}

.main-header-header .main-header-title {
  font-family: FoxTail, "Playfair Display", serif;
  font-size: 4rem;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 4rem 0 2rem;
  text-shadow: 3px 1px 3px rgba(162, 41, 34, 1);
}

.main-header-header .main-header-desc {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #fefefed5;
  background-color: rgba(20, 20, 20, 0.3);
  border-radius: 10px;
  padding: 1.2rem;
}

.main-header-header .main-header-desc strong {
  color: #ffffff;
}

.main-header-header .main-header-logo {
  padding: 1rem;
  position: absolute;
  top: 100%;
  transform: translateY(-55%);
}

.main-main {
  padding-top: 40vw;

  display: flex;
  flex-direction: column;
}

.main-main p[class$="desc"] {
  line-height: 1.4rem;
  font-size: 1rem;
  text-indent: 1rem;
  text-align: justify;
  font-family: "Lora", serif;
  padding: 2rem;
}

.main-main .main-intro {
  display: flex;
  flex-direction: column;
}

.main-main section:nth-child(even) {
  background-color: var(--theme-dark);
  color: #fefefe;
}

.main-main .main-section:nth-child(odd) h2 {
  background-color: rgba(50, 20, 20, 0.2);
}

.main-main .main-section h2 {
  font-size: 2rem;
  text-align: center;
  background-color: rgba(50, 20, 20, 0.6);
  padding: 1rem 0;
  position: sticky;
  top: 4rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin: 2rem 1rem 0;
}

.main-main .main-comments {
  padding: 1rem;
}

.main-main .main-comments h2 {
  font-style: italic;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 50px;
  background-color: #fefefe;
  color: var(--theme-dark);
  width: max-content;
}

.main-main .main-comments h2 strong {
  border-radius: 20px;
  background-color: var(--theme-dark);
  color: #fefefe;
  padding: 0.2rem 1rem 0.2rem 0.8rem;
  text-align: center;
}

.main-main .main-comments ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-main .main-comments .comment {
  border-radius: 20px;
  background-color: #fefefe;
  color: var(--theme-dark);
  font-family: "Lora", serif;
  padding: 1rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
  text-indent: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-main .main-comments .comment .reviewer {
  background-color: var(--theme-dark);
  border-radius: 20px;
  color: #fefefe;
  align-self: flex-end;
  padding: 4px 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
